@import "null.scss";


//================Fonts===========================

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


   
//================Basic===========================


body{
    font-family: 'Montserrat', sans-serif;
}



.wrapper {
}

.container {
}

.btc_red {
    padding: 10px 10px ;
    border:2px solid #E51937 ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #E51937;
    &:hover{
        background: #E51937;
        color: #ffff;
        transition: .5s;
        border-radius: 5px;
                }
}





//=================Header==========================
.header {
    max-width: 1337px;
    height: 51px;
    margin: 0 auto;
    padding: 24px 20px 0 0;
    

		&__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
		}

		&__logo {
            
		}

		&__menu {
            @media (max-width: $breakpoints992){
                display: none;
            }
            
            &_box{
                width: 489px;
                height: 51px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

			&_link {
			}
		}

		&__login {
            display: flex;
            height: 51px;

			&_box {
                display: flex;
                width: 200px;
                justify-content: space-between;
                align-items: center;
                @media (max-width: $breakpoints992){
                    width: 100%;
                }
                
			}

			&_link {
                @media (max-width: $breakpoints992){
                    display: none;
                }
			}

			&_burger {  
                display: none;
                @media (max-width: $breakpoints992){
                    display: block;
                }
			}
		}
}

.menu-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    &:hover{
        color: #E51937;
        &::after{
            content:'';
            display: block;
            height: 2px;
            background: #E51937;
        }
    }
}

//==================Test Drive====================     
.test {
    margin: 60px 0 0 0;
    background: url(../img/background.png) top center   / contain no-repeat;
    @media(max-width: $breakpoints1100){
        background-position: 0 15%;   
    }
    @media(max-width: $breakpoints1100){
        background-position: 0 23%;   
    }

    &__body {
        max-width: 970px;
        margin: 0 auto;
    
    }

    &__tittle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 90px;
        line-height: 110px;
        text-align: center;
        @media(max-width: $breakpoints768){
            font-size: 50px;
        }

    }

    &__sub-tittle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
    }

    &__auto {
        margin: 25px 0;
        
    }

    &__auto-img {
        max-width: 100%;
    }

    &__info {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        @media(max-width: $breakpoints768){
            flex-wrap: wrap;
            justify-content: center;
        }
        

        &_icons {
            flex: 0 0 60%;
            display: flex;
            justify-content: space-around;
            padding: 0 100px 0 0;
            @media(max-width: $breakpoints768){
                padding: 0 0 0 0;
                flex: 0 0 100%;
            }
        }

        &_icon {
        }


        &_drive {
            flex: 0 0 40%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0 0 0 20px;
            @media(max-width: $breakpoints768){
                margin: 55px 0 0 0;
                padding: 0 0 0 0;
                flex: 0 0 100%;
            }

            &_text {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 13px;
                line-height: 16px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                margin: 0 10px 0 0;
                img {
                    margin: 0 10px 0 0;
                }
            }
    
            &_button {
                
            }
        } 
    }
    &__arrow{
        width: 30px;
        height: 100px;
        margin: 40px auto;
        

        &_img {
            animation-name: arrow_down;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
            animation-delay: 5s;
        }
    } 
}

@keyframes arrow_down{
    0%{
        margin: 40px auto;
    }
    100%{
        margin: 60px auto;
    }
}

//====================Future=======================
.future__model-s-box {
    background: url('../img/tesla_insaid.png') center / cover no-repeat;
    background-position-y: 50px;
    width: 100%;    
    overflow: visible ;
    @media (min-width:1550px){
        background: url('../img/tesla_insaid.png') right / cover no-repeat;
        background-position-y: 100px;
    }
    

}

.future {

   
    

    &__body {
        display: flex;
        justify-content: space-between;
        @media(max-width:$breakpoints992){
            flex-wrap: wrap;
        }
    }

    &__model-s {
        width: 100%;
        padding: 60px 0 0 120px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 70px;
        line-height: 85px;
        color: #E51937;
        @media (min-width:1550px){
            padding: 1% 0 0 25%;
        }
        @media(max-width:$breakpoints992){
            
            height: 500px;
            padding: 30px 50px;
            display: flex;
            justify-content: right;
        }
        @media(max-width:$breakpoints488){
            & h2{
                display: none;
            }
            
        }
    }

        

    

    &__info {
        width: 440px;
        height: 100%;
        background: #E51937;
        @media (min-width:1550px){
            width: 600px; 
        }
        @media(max-width:$breakpoints992){
            width: 100%;
        }
    }

}

.info {

    &__box {
        padding: 50px 35px 50px 35px;
        @media(max-width:$breakpoints992){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 50px 35px 50px 35px;
        }
        @media(max-width:$breakpoints768){
            padding: 35px 30px;
        }
        
        
        
    }

    &__text {
        @media(max-width:$breakpoints992){
            flex: 0 0 50%;
        }
        @media(max-width:$breakpoints768){
            flex: 0 0 100%;
        }


        &_tittle {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            color: #FFFFFF;
            margin: 0 0 15px 0;
        }

        &_text {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;
            
        }
    }
    




    &__icon1 {
        display: flex;
        margin: 0 0 35px 0 ;
        @media(max-width:$breakpoints768){
            display: none;
        }
        

        
    }


    &__icon {
        margin: 55px 0 100px 0;
        @media(max-width:$breakpoints992){
            flex: 0 0 40%;
            margin: 0 0 0 0;
        }


        &_icon {
            display: flex;
            align-items: center;
        }

        &_text {
            margin: 0 0 0 20px;
            

            & h4{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
            }

            & p{
                font-family: 'Montserrat';
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
            }
        }
    }

    

    &__footer {
        margin: 75px auto 50px auto;
        flex: 0 0 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        @media(max-width:$breakpoints768){
            display: none;
        }

        &_more {
            display: flex;
            align-items: center;
            & img{
                margin: 0 5px 0 0;
            }
            & a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: rgb(255, 255, 255) !important;
                
            }
        }

        &_button {
            padding: 15px 40px;
            border: 2px solid #ffffff;
            text-decoration-style: none;
            color: #fff;
            transition: .5s;
            background: #E51937;
            &:hover{
                border-radius: 5px;
                background: #fff;
                color: #E51937;
            }
        }
                

        
    }
}

//==================Safety==========================

.safety {
   //Info-block
    &__body {
        display: flex;
        @media(max-width:$breakpoints992){
            flex-direction: column;
        }
    }

    &__info {
        width: 440px;
        min-width: 440px;
        height: 100%;
        background: #E51937;
        padding: 50px 55px 60px 40px ; 
        margin: 0 -80px 0 0;
        @media(max-width:$breakpoints992){
            order: 2;
            width: 100%;
            padding: 50px 55px 50px 40px ; 
        }
        @media(max-width:$breakpoints768){
            padding: 35px 30px; 
        }

        &_body {
            @media(max-width:$breakpoints992){
                display: flex;
                flex-wrap: wrap;
                justify-content:space-between;
            }
        }

        &_text-box {
            @media(max-width:$breakpoints992){
                flex: 0 0 47%;
            }
            
        }

        &_tittle {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            color: #FFFFFF;
        }

        &_text {
            margin: 12px 0 50px 0;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;

        }

        &_rating-box {
            @media(max-width:$breakpoints992){
                flex: 0 0 47%;
            }
        }

        &_rating-tittle {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            color: #FFFFFF;
            margin: 0 0 30px 0;
        }

        &_rating-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 21px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 15px 0 0 0;
        }

        &_rating-list small {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.7;
        }


        &_star {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 100px 0 60px 0;
            @media(max-width:$breakpoints992){
                display: none;
            }
        }

        &_star-tittle {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            line-height: 61px;
            color: #FFFFFF;

        }

        &_star-subtittle {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 30px;
            color: #FFFFFF;
            
        }

        &_footer {
            display: flex;
            justify-content:space-between;
            align-items: center;
            @media(max-width:$breakpoints992){
                margin: 100px 0 60px 0;
                width: 100%;
                justify-content: center;
            }
        }

        &_footer-more {
            display: flex;
            align-items: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            @media(max-width:$breakpoints992){
                margin: 0 5% 0 0;
            }
            

        }

        &_footer-more-link{
            display: flex;
            align-items: center;
            color: #FFFFFF;
            
        }

        &_footer-more-link img{
            margin: 0 10px 0 0;
        }




        &_footer-button a{
            padding: 15px 36px;
            border: 2px solid #fff;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            transition: 0.5s;
            &:hover{
                border-radius: 5px;
                background: #fff;
                color: #E51937;
            }
            @media(max-width:$breakpoints992){
                margin: 0 0 0 5%;
            }
        }
    }
   //Image-block




    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 0 0 0px;
        @media(max-width:$breakpoints992){
            order: 1;
            margin: 30px 0;
        }
    }

    &__image-img {
        width: 100%;
        max-width: 100%;
        background-position-x: -500px;
    }

}



